// Pulldown
.pulldown {
    @include tooltip;

    &-title {
        background-color: none !important;
    }
    &-menu {
        position: absolute;
        width: 240px;
        max-width: 240px;
        max-height: 300px;
        margin: 0 0 0 -1px;
        background-color: $theme-preview-background-color;
        border: 1px solid $theme-border-color;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
        text-align: left;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: $z-index-dropdown;
    }
    &-item {
        padding: 5px 15px;
        font-size: 15px;
        line-height: 1.5;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $theme-text-color;
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: $theme-selected-background-color;
        }
    }
    &-separator {
        border-bottom: 1px solid $theme-border-color;
        margin-bottom: 4px;
        padding-bottom: 4px;
    }
}
