node_modules
bower_components
.sass-cache
lib
src/types
.idea
typings
public/kaita.*
public/css/*.css
public/js/*.js
public/js/*.d.ts
public/js/*.map
public/env/*.js
domains/kaita.d.ts
domains/kaita.js
domains/kaita.js.map
test/e2e/screenshots/**/*.png
.DS_Store
