node_modules
bower_components
.sass-cache
lib
src/types
.idea
typings
public/kobito.*
public/css/*.css
public/js/*.js
public/js/*.d.ts
public/js/*.map
public/env/*.js
domains/kobito.d.ts
domains/kobito.js
domains/kobito.js.map
test/e2e/screenshots/**/*.png
.DS_Store
